---
const { height = "300px", title = "" } = Astro.props;
    import bg  from "./clouds.png";
    import tree  from "./CoconutTree.png";
    import planet  from "./Ice.png";
    import url from "./tracks.bin?url";

---
<!-- <img src={rocket}/> -->
<!-- {rocket} -->
<script>
    import { AstroGreet } from "./_rund";
</script>
<style define:vars={{ wasmheight: height }}>
    div {
        min-height: var(--wasmheight);
    }
</style>
<h1>{url}</h1>
<div {...Astro.props} data-bg={bg} data-tree={tree} data-planet={planet} data-stars-rocket={url}>
</div>
{title && <span>{title}</span>}
